.header {
  color: rgb(51, 51, 167);
  font-weight: bold;
}

.questions {
  font-weight: bold;
  border: 1px solid black;
  border-radius: 10px;
}

.answer-buttons {
  margin: 2px;
  width: 300px;
}

#background {
  /* Image by <a href="https://pixabay.com/users/engin_akyurt-3656355/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4346633">Engin Akyurt</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4346633">Pixabay</a>*/
  background-image: url("./img/mountain-4346633_1920.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
